body {
  margin: 0;
  font-family: Matter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MatterBold";
  src: url("./assets/font/Matter-Bold.woff");
}

@font-face {
  font-family: "MatterHeavy";
  src: url("./assets/font/Matter-Heavy.woff");
}

@font-face {
  font-family: "MatterLight";
  src: url("./assets/font/Matter-Light.woff");
}

@font-face {
  font-family: "MatterMedium";
  src: url("./assets/font/Matter-Medium.woff");
}

@font-face {
  font-family: "MatterRegular";
  src: url("./assets/font/Matter-Regular.woff");
}

@font-face {
  font-family: "MatterSemiBold";
  src: url("./assets/font/Matter-SemiBold.woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;